.s-contacts {
	padding-left: var(--page-pad);
	
	.l-container {
		background-color: var(--c-main);
		color: var(--c-alt);
		padding-bottom: 5rem; 
	}

	.s-section__meta {
		color: var(--c-alt-tr-3);
	}

	form {
		h4 {
			font-family: var(--f-heads);
			font-size: var(--fz-md);
			font-weight: 700;
			margin-bottom: 1em;
		}

		label {
			display: block; 
			width: 100%; 
			margin-bottom: 1rem; 
		}

		input, textarea {
			font: inherit; 
			width: 100%; 
			border: none;
			border-bottom: 1px solid var(--c-alt-tr-3);
			outline: none; 
			background-color: transparent;
			padding: 1em 0; 
			color: var(--c-alt-tr-3);
		}
		textarea {
			resize: none;
		}

		p {
			font-size: var(--fz-sm);
			line-height: var(--lh);
			margin: 1em 0;

			a {
				color: var(--c-alt);
				display: block; 
			}
		}

	}

	.s-contacts__details {
		padding: 1em 0; 
		span {
			display: block; 
			margin: 1em 0; 
			font-family: var(--f-heads);
			font-weight: 700;
		}
	}

	.s-btn-container {
		margin: 2rem 0; 
		text-align: center;
	}

	.s-btn--decor {
		margin-top: 5rem; 
		display: inline-block; 

	}
}

.s-contacts__socials {
	display: flex; 

	* {
		border: $bd;
	}

	li {
		background-color: var(--c-alt-tr-3);
		width: 3rem;
		height: 3rem; 
		margin-right: 1em; 
		border-radius: var(--br-main); 

		.s-icon {
			width: 100%; 
			height: 100%; 
		}

		svg {
			width: 100%; 
			height: 100%; 
			fill: currentColor; 
			stroke: currentColor; 
		}
	}
}

@media (min-width: 1564px) {
	.s-contacts {

		--grid-col-count: 19; 
		--grid-row-count: 11;
		aspect-ratio: var(--grid-col-count) / var(--grid-row-count);

		.l-container {
			grid-column: 2 / -1;
			grid-row: 1 / -1;
		}

		.s-section__header {
			display: flex;
			justify-content: space-between; 
		}
		.s-section__title {
			margin: 0; 
			margin-right: calc(var(--page-pad) * 10);
			font-size: calc(var(--fz-lg) * 1.35);

		}

		.s-section__content {
			display: flex; 
			justify-content: space-between; 
			padding-right: calc(var(--page-pad) * 4);
			padding-left: calc(var(--page-pad) * 7);
			padding-top: calc(var(--page-pad) * 3);
		}

	.s-contacts__form {
			flex: 60% 0 0; 
			width: 60%; 

			display: flex; 
			flex-wrap: wrap; 
			justify-content: space-between;
			border: 1px solid red; 

			h4, textarea {
				flex: 100% 0 0; 
				width: 100%; 
			}

			label {
				display: block; 
				flex: 45% 0 0; 
				width: 45%; 
			}

		}
	}
}


